<form #formularioUsuario="ngForm" (ngSubmit)="crearUsuario(formularioUsuario)">
    <div>
        <label for="nombreId">Nombre</label>
        <input id="nombreId" type="text" name="nombre" [(ngModel)]="nombreModelo" required minlength="3" #nombreCampo="ngModel">
        <!-- email minlength="3" maxlength="10 pattern="[0-9]" -->
        <!-- type="number"
        Con numeros -> min="0"
        Con numeros -> max="10" -->
    </div>
    <div *ngIf="nombreCampo.touched && nombreCampo.errors">
        <p *ngIf="nombreCampo.errors.required">Error: Campo Requerido</p>
        <p *ngIf="nombreCampo.errors.minlength">Error: Longitud minima 3</p>
    </div>
    <div>
        <label for="cedulaId">Cedula</label>
        <input id="cedulaId" type="text" name="cedula" [(ngModel)]="cedulaModelo" required #cedulaCampo="ngModel">
    </div>
    <div>
        <label for="estadoCivilId">Estado Civil</label>
        <select name="estadoCivil" id="estadoCivilId" [(ngModel)]="estadoCivilModelo" required #estadoCivilCampo="ngModel">
            <option value="Soltero">E.S. Soltero</option>
            <option value="Casado">E.S. Casado</option>
            <option value="Divorciado">E.S. Divorciado</option>
            <option value="Viudo">E.S. Viudo</option>
            <option value="Unión libre">E.S Union libre</option>
        </select>
    </div>
    <button type="button" (click)="ayuda()">Boton (Ayuda)</button>
    <button type="submit" [disabled]="!formularioUsuario.form.valid">Submit</button>
    <button type="reset">Reset</button>
    <button>Default</button>
</form>