.contenedor {
  margin: 20px 0px;
}
.cabecera {
  margin: 0px auto;
  border: 1px solid #91b1f7;
  background-color: #91b1f7;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo {
  margin: 10px 0px;
  font-family: "Spectral SC", serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.formulario {
  margin: 0px auto;
  border: 1px solid #91b1f7;
  background-color: white;
  width: 50%;
  text-align: center;
}
.subtitulo {
  margin-top: 15px;
  font-family: "Spectral SC", serif;
  font-size: 16px;
  text-align: center;
  color: #455475;
}
.error {
  margin-bottom: 0px;
  font-family: "Spectral", serif;
  font-size: 12px;
  text-align: center;
  color: red;
}
label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 15px;
  font-family: "Spectral", serif;
  font-size: 14px;
}
.etiqueta-numero{
  width: 180px;
}
input {
  margin-top: 4px;
  width: 200px;
  font-family: "Spectral", serif;
}
.numero-dia {
  width: 40px;
  text-align: center;
}
.numero-anio {
  width: 60px;
  text-align: center;
}
select {
  margin-top: 4px;
  width: 208px;
  font-family: "Spectral", serif;
}
.boton {
  margin: 20px 5px;
  background: #3864c2;
  border-radius: 35px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-family: "Spectral SC", serif;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
.boton[disabled] {
  background-color: #455475;
}
.eliminar {
  background: red;
}
