<table id="lista">
    <tr>
        <th>Usuario</th>
        <th>Mascota</th>
        <th>Calificación</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let adopcion of arregloAdopciones">
        <td>{{obtenerUsuarioAdopcion(adopcion.id_usuario.id)}}</td>
        <td>{{obtenerMascotaAdopcion(adopcion.id_mascota.id)}}</td>
        <td>{{adopcion.calificacion}}</td>
        <td>{{adopcion.fecha}}</td>
        <td>{{adopcion.estado}}</td>
        <td>
            <button>Editar</button>
            <button>Eliminar</button>
        </td>
    </tr>
</table>
