<div>
    <mat-grid-list cols="3" rowHeight="3:5">
        <mat-grid-tile *ngFor="let mascota of arregloMascotas">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{mascota.nombre}}</mat-card-title>
                    <mat-card-subtitle>
                        {{mascota.id_raza.nombre}} - {{mascota.genero}} - {{mascota.edad}}
                        <br> 
                        Tamaño: {{mascota.tamano}} - Pelaje: {{mascota.pelaje}}
                        <br>
                        Vacunas: {{mascota.vacuna}} - Esterilizado: {{mascota.esterilizacion}}
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="obtenerFotografia(mascota?.id)">
                <mat-card-content>
                    <p>{{mascota.descripcion}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="boton" mat-button (click)="crearAdopcion(mascota.id)">Adoptar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>