<div class="buscador">
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filtrarAdopcion($event.target.value)" placeholder="Ej. Usuario">
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="lista" matSort>
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let adopcion">{{adopcion.id_usuario.nombre}} {{adopcion.id_usuario.apellido}}</td>
        </ng-container>
        <ng-container matColumnDef="mascota">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mascota</th>
            <td mat-cell *matCellDef="let adopcion">{{adopcion.id_mascota.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="calificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Calificacion</th>
            <td mat-cell *matCellDef="let adopcion">{{adopcion.calificacion}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let adopcion">{{convertirFecha(adopcion.fecha)}}</td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let adopcion">{{adopcion.estado}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No existen registros</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>