<table id="lista">
    <tr>
        <th>Mascota</th>
        <th>Refugio</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let refugioMascota of arregloRefugiosMascotas">
        <td>{{obtenerMascotaRefugio(refugioMascota.id_mascota.id)}}</td>
        <td>{{obtenerRefugioMascota(refugioMascota.id_refugio.id)}}</td>
        <td>
            <button>Editar</button>
            <button type="button" (click)="eliminarRefugioMascota(refugioMascota.id)">Eliminar</button>
        </td>
    </tr>
</table>