<table id="lista">
    <tr>
        <th>Numero</th>
        <th>Fecha de Caducidad</th>
        <th>Propietario</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let tarjeta of arregloTarjetas">
        <td>{{tarjeta.numero}}</td>
        <td>{{tarjeta.fechaCaducidad}}</td>
        <td>{{obtenerPropietarioTarjeta(tarjeta.id_usuario.id)}}<td>
            <button>Editar</button>
            <button type="button" (click)="eliminarTarjeta(tarjeta.id)">Eliminar</button>
        </td>
    </tr>
</table>
