<div class="crop">
    <img class="img-banner" [src]="urlBanner">
</div>
<div class="estadisticas">
    <div class="fila">
        <div class="estadistica">
            <p class="campo">Peticiones Pendientes</p>
            <p class="valor">{{pendientes}}</p>
        </div>
        <div class="estadistica">
            <p class="campo">Usuarios Registrados</p>
            <p class="valor">{{usuarios}}</p>
        </div>
    </div>
    <div class="fila">
        <div class="estadistica">
            <p class="campo">Mascotas Registradas</p>
            <p class="valor">{{mascotas}}</p>
        </div>
        <div class="estadistica">
            <p class="campo">Total Donaciones</p>
            <p class="valor">${{total}}</p>
        </div>
    </div>
</div>