<table id="lista">
    <tr>
        <th>Mascota</th>
        <th>Fotografia</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let fotografiaMascota of arregloFotografiasMascotas">
        <td>{{obtenerMascotaFotografia(fotografiaMascota.id_mascota.id)}}</td>
        <td>
            <img [src]="obtenerFotografiaMascota(fotografiaMascota.id_fotografia.id)" id="fotografia">
        </td>
        <td>
            <button>Editar</button>
            <button>Eliminar</button>
        </td>
    </tr>
</table>
